@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'

*, *:before, *:after
   box-sizing border-box

.modal-form
  grid(direction: 'top')
  div
    cell(1, 1)
    margin 0
    &.image-select
      padding-top rem-calc(50)
