@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'

.modal-form
  grid(direction: 'top')
  div
    cell(1, 1)
    margin 0
    &.image-select
      padding-top rem-calc(50)

.left-nav-fix
  grid(direction: 'top')
  div
    cell(1, 1, direction: 'top')
    margin 0

.main-section
  margin-top 64px

